.vs/
bin/
bin-int/
Debug/
Release/
x64/
[Bb]in/
[Bb]in-[Ii]nt/
[Oo]bj/
*.pch
*.ilk
*.pdb
*.exp
*.lib
*.dll
*.exe
*.suo
*.user
*.aps
*.ncb
*.sdf
*.opensdf
*.log
*.tlog
*.cache
*.idb
*.ipch
*.db

.vs/
.vscode/
*.VC.db
*.VC.VC.opendb